In [2]:
import pandas as pd
data=pd.read_excel("lab3_data.xlsx")
df=pd.DataFrame(data)
df

      age  income student credit_rating buys_computer
0    <=30    high      no          fair            no
1    <=30    high      no     excellent            no
2   31…40    high      no          fair           yes
3     >40  medium      no          fair           yes
4     >40     low     yes          fair           yes
5     >40     low     yes     excellent            no
6   31…40     low     yes     excellent           yes
7    <=30  medium      no          fair            no
8    <=30     low     yes          fair           yes
9     >40  medium     yes          fair           yes
10   <=30  medium     yes     excellent           yes
11  31…40  medium      no     excellent           yes
12  31…40    high     yes          fair           yes
13    >40  medium      no     excellent            no

In [64]:
import pandas as pd
import math

def entropy(column):
    class_counts = column.value_counts()
    total = len(column)
    entropy = 0
    for count in class_counts:
        p=count/total
        entropy=p * math.log2(p)*-1
    return entropy

e1=entropy(df['age'])
print("entropy of age: ",e1)
e2=entropy(df['income'])
print("entropy of income: ",e2)
e3=entropy(df['student'])
print("entropy of student: ",e3)
e4=entropy(df['credit_rating'])
print("entropy of creit_rating: ",e4)

entropy of age:  0.5163871205878868
entropy of income:  0.5163871205878868
entropy of student:  0.5
entropy of creit_rating:  0.5238824662870492

In [61]:
total_entropy = entropy(df['buys_computer'])
print("Total entropy(H): ",total_entropy)

Total entropy(H):  0.5305095811322292

In [63]:
column=['age','income','student','credit_rating']
def ig(col):
    x=entropy(df[col])
    ig=total_entropy-x
    print("Information gear of is ",ig)
for i in column:
    ig(i)

Information gear of is  0.014122460544342408
Information gear of is  0.014122460544342408
Information gear of is  0.030509581132229235
Information gear of is  0.006627114845180082